body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#app {
    width: 80%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #f6450a;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #f6450a;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
}

span {
    flex-grow: 1;
}

button.remove-btn {
    background-color: #d9534f;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px;
}

button.remove-btn:hover {
    background-color: #c9302c;
}
